.cricket-img .login__image {
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .cricket-img .login__image {
        margin: auto;
        margin-bottom: 30px;
    }
    .cricket-img .login__image img {
        max-width: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .flag {
        padding: 15px 25px;
    }
    .flag-img {
        width: 100px;
    }
}
